@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes shimmer {
    0% { background-position: -100% 0; }
    100% { background-position: 100% 0; }
  }
  .animate-gradient-x {
    background-size: 200% auto;
    animation: shimmer 3s linear infinite;
  } */
  .hover-underline-effect::after,
  .hover-underline-effect::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #fffefe, #000000);
    transform: scaleX(0);
    transition: transform 0.4s ease-out;
  }
  
  .hover-underline-effect::after {
    bottom: -8px;
    left: 0;
    transform-origin: right;
  }
  
  .hover-underline-effect::before {
    top: -8px;
    left: 0;
    transform-origin: left;
  }
  
  .hover-underline-effect:hover::after,
  .hover-underline-effect:hover::before {
    transform: scaleX(1);
  }
  .card-3d {
    transform: rotateX(75deg) translateY(-200px) translateZ(-100px);
    animation: card-entry 0.8s ease forwards;
    transform-style: preserve-3d;
    perspective: 900px;
  }
  
  .card-3d-hover:hover {
    transform: rotateX(0deg) translateY(0px) translateZ(0px) !important;
    transition: 0.6s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  @keyframes zoom {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  
  .animate-zoom {
    animation: zoom 4s ease-in-out infinite;
  }
  @font-face {
    font-family: 'Ethnocentric';
    src: url('/fonts/EthnocentricRg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  iframe {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 0 !important;
    pointer-events: none !important;
  }
  